@import url('https://fonts.googleapis.com/css?family=Lora');

.App {
  background-color: #ecf0f1;
  text-align: center;
  width: 100%;
  height: 100%;
  /* border: 1px solid white; */
}

.mainElement{
  /* background-color: #16a085; */
  margin: 1em;
  padding: 1em;
  /* border: 1px solid #b38600; */
}

body{
  background-color: #ecf0f1;
  font-family: 'Lora', serif;
  color: white;
  height: 100%;
  width: 100%;
  /* max-width: 100%; */
  font-size: medium;
}

a{
  color: inherit;
  text-decoration: none;
}

.App-footer{
  border: 1px solid #b38600;
  background-color: #34495e;
  background: linear-gradient(to bottom right, #34495e , #0f0f0f);
  box-shadow: 7px 7px 20px  black;
  margin: 1em;
}

.github{
  max-width: 1.5em;
  max-height: auto;
}



img{
  max-width: 100%;
  max-height: auto;
  max-height: auto\9; /* ie* */
}
