.match{
  /* margin:1em; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  margin-bottom: .5em;
  /* box-shadow: 7px 7px 20px  black; */
  background-color: #34495e;
  /* border: 1px solid #b38600; */
  /* background: linear-gradient(to bottom right, #34495e , #0f0f0f); /* Standard syntax (must be last) */

}

.myButton{
  background-color: #16a085;
  color: white;
  padding: 1em;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
  cursor: pointer;
  border: none;
  transition: background-color .2s, box-shadow .2s;
}

.myButton:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #1abc9c;
}

.matchInfo{
  /* position: relative; */
  /* bottom: 5em; */
  /* order: 1; */

  padding: 1em;

  /* width: 9em; */
  /* padding-bottom: 0; */
  /* background-color: #2c3e50; */
  /* display: inline-block; */
}

.blueGame{
  /* background: linear-gradient(to bottom right, #34495e, #3498db); */
  background: linear-gradient(to bottom right, #42a5f5, #0d47a1);
}
.redGame{
  background: linear-gradient(to bottom right, #ef5350 , #b71c1c )
}

.matchResult{
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 1px;
}

@media only screen and (max-width: 570px) {
    .matchInfo {
        order: 1;
        width: 100%;
    }
    .match{
      flex-wrap: wrap;
    }
}
