.searchBarsDiv{
  /* background-color:#16a085; */
  /* background-color: black; */
  background-color: #34495e;
  background: linear-gradient(to bottom right, #34495e , #0f0f0f);
  /* height: 150px; */
  margin: 1em;
  padding: 1em;
  /* margin-top: -16px; */
  /* padding: 20px; */
  /* color: #2c3e50; */
  box-shadow: 7px 7px 20px  black;
  border: 1px solid #b38600;
}

.subPrompt{
  margin: 1em;
  color: #95a5a6;
}

.SearchPrompt{
  font-size: 1.7em;
  font-weight: 300;
  margin: 0 0 .5em 0;
}

.searchBarsDiv select{
  margin-left: 1em;
  font-size: 1.1em;
}
