.searchBarsDiv{
  background-color: #34495e;
  background: linear-gradient(to bottom right, #34495e , #0f0f0f);
  padding: 1em 0;
  width: 100%;
  /* margin-top: -16px; */
  /* padding: 20px; */
  /* color: #2c3e50; */
  box-shadow: 7px 7px 20px  black;
  border-bottom: 1px solid #b38600;
  display: flex;
  /* justify-content: space-around; */
  margin: auto;
  flex-wrap: wrap;
}

.subPrompt{
  margin: .5em;
  color: #95a5a6;
}

.SearchTitle{
  font-size: 1.5em;
  font-weight: 300;
  margin: 1em;
  /* margin: auto; */
}

@media only screen and (max-width: 767px) {
  .SearchTitle{
    margin: auto;
    margin-bottom: 1em;
  }
}

.searchElementsWrap{
  margin: auto;
  display: inline-block;
  /* min-width: 60%; */
  max-width: 90%;
}

.selectWrapper{
  /* width: 30%; */
  display: inline-block;
}


.searchBarsDiv select{
  /* margin: 1em; */
  font-size: 1.1em;
  /* height: 100%; */
}
