.Status{
  color: black;
  /* font-weight: 300; */
  font-size: 1.5em;
  width: 70%;
  margin: auto;
}

.Status p{
  margin: 1em;
}

.bgImage{
  /* width: 100%; */
  /* width: 50px; */
  /* box-shadow: 0 0 8px 8px white inset; */
  background-image: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ashe_9.jpg");
}
