.App {
  /* background-color: pink; */
  text-align: center;
}

.mainElement{
  background-color: #16a085;
  margin: 1em;
}

body{
  background-color: #2c3e50;
  color: white;
  font-size: large;
}

a{
  color: inherit;
  text-decoration: none;
}

.myButton{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.App-header {
  background-color:#16a085;
  height: 150px;
  margin: 1em;
  margin-top: -16px;
  /* padding: 20px; */
  color: #2c3e50;
}

.match{
  margin:1em;
}

.teamWrapper{
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.teamMember:hover{
  background-color: #34495e;
}

.teamMember{
  background-color: #2c3e50;
  /* display: flex; */
  /* flex-shrink: 1; */
  padding: 2em;
}

.iconImageTeamMates{
  /* margin: auto; */
  object-fit: contain;
  max-width: 3em;
  /* max-height: 3em; */
  /* max-height: au */
  border-radius: 50%;
}

.matchInfo{
  position: relative;
  bottom: 5em;
  padding: 1em;
  padding-bottom: 0;
  background-color: #2c3e50;
  display: inline-block;
}

.playerClass{
  background-color: #34495e;
  display: inline-block;
}

.listContainer{
  /* background-color: yellow; */
  padding: 0;
}

img{
  max-width: 100%;
  max-height: auto;
  max-height: auto\9; /* ie* */
  /* max-height: 50%; */
}

.mainUser{
  background-color: #131418;
  display: inline-block;
  margin-right: 5em;
  margin-left: 5em;
}

/* .sumInfo{
  display: inline-block;
  margin-right: 5em;
  margin-left: 5em;
} */

.blueGame{
  background-color: #3498db;
}

.searchBarsDiv{
  /* background-color: #16a085; */
}

.redGame{
  background-color: #d35400;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */
